<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // AJAX 데이터 매핑 예제(1)
        function fnSearch() {
            let bbsVO = { };

            $.ajax({
                url: "/bbs/selectBbsList",
                data: bbsVO,
                type: "POST"
            }).done(function(result) {
                let tags = [];

                // 기존 데이터 삭제
                $("#bbsTable").empty();

                // 새로운 데이터 매핑
                $.each(result, function(index, item) {
                    tags.push("<tr>");
                    tags.push("<td>" + item.bbsId + "</td>");
                    tags.push("<td>" + item.bbsTitle + "</td>");
                    tags.push("<td>" + item.bbsContent + "</td>");
                    tags.push("<td>" + item.regDt + "</td>");
                    tags.push("<td>" + item.regId + "</td>");
                    tags.push("<td>" + item.updDt + "</td>");
                    tags.push("<td>" + item.updId + "</td>");
                    tags.push("</tr>");

                    $("#bbsTable").append(tags);
                });
            });
        }

        // AJAX 데이터 매핑 예제(2)
        function fnSearch_fragment() {
            let bbsVO = { };

            $.ajax({
                url: "/bbs/selectBbsList_fragment",
                data: bbsVO,
                type: "POST"
            }).done(function(result) {
                $("#bbsTable").replaceWith(result);
            });
        }

        // AJAX 데이터 매핑 예제(3)
        // 외부 Grid Component 를 사용하여 데이터를 표현
        // (ex) jqGrid, Toast UI Grid
    </script>
    <style>
        table { width:100% }
        table td { padding:5px; border:1px solid black; }
    </style>
</head>
<body>
    <button type="button" onclick="fnSearch()">조회</button>
    <button type="button" onclick="fnSearch_fragment()">조회(thymeleaf fragment)</button>
    <button type="button oncl"></button>
    <table>
        <thead>
            <tr>
                <td>BBS_ID</td>
                <td>BBS_TITLE</td>
                <td>BBS_CONTENT</td>
                <td>REG_DT</td>
                <td>REG_ID</td>
                <td>UPD_DT</td>
                <td>UPD_ID</td>
            </tr>
        </thead>
        <tbody id="bbsTable">
            <tr th:each="bbs: ${bbsList}">
                <td th:text="${bbs.bbsId}"></td>
                <td th:text="${bbs.bbsTitle}"></td>
                <td th:text="${bbs.bbsContent}"></td>
                <td th:text="${bbs.regDt}"></td>
                <td th:text="${bbs.regId}"></td>
                <td th:text="${bbs.updDt}"></td>
                <td th:text="${bbs.updId}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>